@page
@model IDI.Digiccy.Transaction.Client.Pages.BTCUSDTModel
@{
    ViewData["Title"] = "BTCUSDT";
}

<h2>BTC/USDT</h2>

<div id="app" class="container">
    <div class="row">
        <div class="col-xs-6"></div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" v-bind:id="'bid'+item[2]" v-for="(item,index) in bids">
                            <span>buy{{item[2]}}</span>
                            <span class="up">{{Number(item[0]).toFixed(2)}}</span>
                            <span>{{Number(item[1]).toFixed(2)}}</span>
                        </li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item" v-bind:id="'ask'+item[2]" v-for="(item,index) in asks">
                            <span>sell{{item[2]}}</span>
                            <span class="down">{{Number(item[0]).toFixed(2)}}</span>
                            <span>{{Number(item[1]).toFixed(2)}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>

    <!--交易面板-->
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">Bid</div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">USDT</div>
                            <input id="bid_price" type="number" class="form-control" v-model="bid.price" placeholder="Price">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">&nbsp;HSR&nbsp;</div>
                            <input id="bid_volume" type="number" class="form-control" v-model="bid.volume" placeholder="Volume">
                        </div>
                    </div>
                    <button id="btnBid" type="submit" class="btn btn-danger btn-block" v-on:click="onBid">Bid</button>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">Ask</div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">USDT</div>
                            <input id="ask_price" type="number" class="form-control" v-model="ask.price" placeholder="Price">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">&nbsp;HSR&nbsp;</div>
                            <input id="ask_volume" type="number" class="form-control" v-model="ask.volume" placeholder="Volume">
                        </div>
                    </div>
                    <button id="btnAsk" type="submit" class="btn btn-success btn-block" v-on:click="onAsk">Ask</button>
                </div>
            </div>
        </div>
    </div>

    <!--控制面板-->
    <div class="row">
        <div class="col-xs-6">
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">Service</div>
                <div class="panel-body">
                    <div class="btn-group" role="group">
                        <button id="btnStart" type="button" class="btn btn-default" v-on:click="onStart">Start</button>
                        <button id="btnStop" type="button" class="btn btn-default" v-on:click="onStop" disabled="disabled">Stop</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        Number.prototype.toFixed = function (s) {
            var number = this.toString();
            if (number.indexOf('.') == -1) {
                var zeroes = '.';
                for (var i = 0; i < s; i++) {
                    zeroes = zeroes + '0';
                }
                number = number + zeroes;
            } else {
                number = number + '000000000000';
                number = number.split('.')[0] + '.' + number.split('.')[1].substring(0, s);
            }
            return number;
        }

        var app = new Vue({
            el: '#app',
            data: {
                info: { price: 0.00, open: 0.0, high: 0.0, low: 0.0, rate: 0.00, volume: 0.0, trend: 0 },
                asks: [],
                bids: [],
                trades: [],
                bid: { price: 10, volume: 10 },
                ask: { price: 10, volume: 10 },
                polling:false
            },
            created: function () {
                this.onPull();
            },
            methods: {
                onLoad: function (data) {
                    this.asks = data.depths.asks;
                    this.bids = data.depths.bids;
                },
                onPull: function () {
                    var self = this;

                    setInterval(function () {
                        if (self.polling)
                            return;

                        $.ajax({
                            type: "post", datatype: "json",
                            url: "http://localhost:17528/api/trans/info",
                            beforeSend: function () {
                                self.polling = true;
                            },
                            success: function (result) {
                                self.polling = false;
                                if (result.status == 1) {
                                    self.onLoad(result.data);
                                }
                            },
                            error: function (result) {
                                self.polling = false;
                            }
                        });
                    }, 3000);
                },
                onStart: function () {
                    var self = this;

                    $.ajax({
                        type: "post",
                        crossDomain: true,
                        url: "http://localhost:17528/api/trans/start",
                        datatype: "json",
                        beforeSend: function () {
                            $("#btnStart").attr("disabled", "disabled");
                            $("#btnStop").removeAttr("disabled", "disabled");
                        },
                        success: function (result) {
                            if (result.status == 1) {
                                $("#btnStart").attr("disabled", "disabled");
                                $("#btnStop").removeAttr("disabled", "disabled");
                            } else {
                                $("#btnStart").removeAttr("disabled", "disabled");
                                $("#btnStop").attr("disabled", "disabled");
                            }
                        }
                    });
                },
                onStop: function () {
                    var self = this;

                    $.ajax({
                        type: "post",
                        crossDomain: true,
                        url: "http://localhost:17528/api/trans/stop",
                        datatype: "json",
                        beforeSend: function () {
                            $("#btnStart").removeAttr("disabled", "disabled");
                            $("#btnStop").attr("disabled", "disabled");
                        },
                        success: function (result) {
                            if (result.status == 1) {
                                $("#btnStart").removeAttr("disabled", "disabled");
                                $("#btnStop").attr("disabled", "disabled");
                            } else {
                                $("#btnStart").attr("disabled", "disabled");
                                $("#btnStop").removeAttr("disabled", "disabled");
                            }
                        }
                    });
                },
                onBid: function () {
                    var self = this;

                    $.ajax({
                        type: "post",
                        crossDomain: true,
                        url: "http://localhost:17528/api/trans/trade",
                        data: JSON.stringify({ uid: 10001, tran_type: 1, price: self.bid.price, size: self.bid.volume }),
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        beforeSend: function () {
                            $("#btnBid").attr("disabled","disabled");
                        },
                        complete: function () {
                            $("#btnBid").removeAttr("disabled");
                        },
                        success: function (result) {
                            $("#btnBid").removeAttr("disabled");
                            alert(result.message);
                        }
                    });
                },
                onAsk: function () {
                    var self = this;

                    $.ajax({
                        type: "post",
                        crossDomain: true,
                        url: "http://localhost:17528/api/trans/trade",
                        data: JSON.stringify({ uid: 10002, tran_type: 0, price: self.ask.price, size: self.ask.volume }),
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        beforeSend: function () {
                            $("#btnAsk").attr("disabled", "disabled");
                        },
                        complete: function () {
                            $("#btnAsk").removeAttr("disabled");
                        },
                        success: function (result) {
                            $("#btnAsk").removeAttr("disabled");
                            alert(result.message);
                        }
                    });
                }
            },
        });
    </script>
}




