/src/.vs
/src/IDI.Core/bin
/src/IDI.Core/obj
/src/IDI.Digiccy.Common/bin
/src/IDI.Digiccy.Common/obj
/src/IDI.Digiccy.Domain/bin
/src/IDI.Digiccy.Domain/obj
/src/IDI.Digiccy.Domain.Tests/bin
/src/IDI.Digiccy.Domain.Tests/obj
/src/IDI.Digiccy.Models/bin
/src/IDI.Digiccy.Models/obj
/src/IDI.Digiccy.Transaction.Service/obj
/src/IDI.Digiccy.Transaction.Service/bin
/src/IDI.Digiccy.Transaction.Client/obj
/src/IDI.Digiccy.Transaction.Client/bin

/src/IDI.Digiccy.Transaction.Service/*.user
